* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: inherit;
}

html, body {
	font-family: sans-serif;
	background: hsl(243, 20%, 15%);
	color: hsl(42, 30%, 70%);
}

#root {
	/* border: 4px solid lightblue; */

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100dvh;
	width: 100dvw;
	/* padding: 2rem; */
}

#top-info {
	/* border: 1px solid orange; */

	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0.25rem;
}

#mode {

}

#progress {
	/* border: 2px solid orange; */
	display: flex;
	flex-direction: row;
	align-items: baseline;
}

.perc, .score {
	color: hsl(182, 30%, 50%);
}

#bar {
	background: hsl(243, 20%, 25%);
	width: 100%;
	height: 0.2rem;
	border-radius: 0.2rem;
	margin-left: 0.5rem;
	position: relative;
	bottom: 0.15rem;
	overflow: hidden;
}

#inner {
	height: 100%;
	width: 18%;
	background: hsl(182, 30%, 50%);
}

.info {
	font-size: 0.7rem;
	margin-bottom: 0.2rem;
	color: hsl(243, 20%, 50%);
}

#kana {
	/* border: 2px solid blue; */

	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16rem;
}

#romaji-bar {
	/* border: 2px solid yellow; */

	width: 100%;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 0.8rem;
	padding: 1rem;
	margin-bottom: 4rem;
}

.romaji-button {
	/* border: 1px solid green; */

	background: hsl(182, 30%, 70%);
	color: hsl(243, 20%, 15%);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.25rem;
	border-radius: 50%;
	aspect-ratio: 1 / 1;
	width: 100%;
	cursor: pointer;
	transition: all 0.15s ease-in;
}

.romaji-button.touched {
	background: hsl(182, 30%, 80%);
	transform: scale(1.25);
}

#footer {
	padding: 1rem;
	color: hsl(243, 20%, 50%);
}
