@font-face {
	font-family: "Hack Nerd Font";
	src: url('./fonts/HackNerdFontPropo-Regular.ttf') format('truetype');
}

.nerd-icon {
	font-family: "Hack Nerd Font";
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: inherit;
}

html, body {
	font-family: sans-serif;
	background: hsl(243, 20%, 15%);
	color: hsl(42, 30%, 70%);
}

.no-select {
	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	touch-action: manipulation;
}

#root {
	/* border: 4px solid lightblue; */

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100dvh;
	/* padding: 2rem; */
}

/* Just a placeholder for making a responsive desing later. */
@media (orientation: portrait) {
	#root {
		width: 100dvw;
	}
}

@media (orientation: landscape) {
	#root {
		width: 50dvh;
		margin: 0 auto;
	}
}


#top-container {
	padding: 0.25rem;
	width: 100%;
}

#term {
	background: hsl(243, 10%, 10%);
	width: 100%;
	min-height: calc(1rem + 5lh);
	color: hsl(243, 10%, 50%);
	padding: 0.5rem;
	font-family: "Hack", monospace;
	font-size: 0.7rem;
}

#option-buttons {
	/* border: 1px solid lightblue; */
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, auto);
	gap: 1rem;
	width: 60%;
	margin-bottom: 1rem;
}

.opt {
	background: hsl(243, 20%, 20%);
	color: hsl(243, 10%, 40%);
	width: 100%;
	font-size: 2rem;
	border-radius: 6px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 3lh;
	cursor: pointer;
}

.blink {
	animation: blink-animation 1s steps(1, start) infinite;
}

@keyframes blink-animation {
	0% {
		visibility: visible;
	}
	50% {
		visibility: hidden;
	}
	100% {
		visibility: visible;
	}
}

#start {
	/* border: 1px solid orange; */

	width: 100%;
	height: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#start-button {
	background: hsl(243, 20%, 18%);
	border: 1px solid hsl(243, 10%, 30%);
	font-family: "Hack", monospace;
	font-size: 1.25rem;
	width: 60%;
	text-align: center;
	padding: 1rem;
	border-radius: 8px;
	cursor: pointer;
}

#top-info {
	/* border: 1px solid orange; */

	background: hsl(243, 10%, 10%);
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0.25rem;
}

#mode {

}

#progress {
	/* border: 2px solid orange; */
	display: flex;
	flex-direction: row;
	align-items: baseline;
}

.info-highlighted {
	color: hsl(182, 30%, 50%);
}

#bar {
	background: hsl(243, 20%, 25%);
	width: 100%;
	height: 0.2rem;
	border-radius: 0.2rem;
	margin-left: 0.5rem;
	position: relative;
	bottom: 0.15rem;
	overflow: hidden;
}

#inner {
	height: 100%;
	background: hsl(182, 30%, 50%);
}

.info {
	font-size: 0.7rem;
	margin-bottom: 0.2rem;
	color: hsl(243, 20%, 50%);
}

#kana {
	/* border: 2px solid blue; */

	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16rem;
	font-family: serif;
}

#separator {
	width: 30%;
	height: 0.2rem;
	background: hsl(243, 20%, 50%);
	border-radius: 0.1rem;
}

#romaji-bar {
	/* border: 2px solid yellow; */

	width: 100%;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 0.8rem;
	padding: 2rem 1rem;
}

.romaji-button {
	/* border: 1px solid green; */

	background: hsl(182, 30%, 70%);
	color: hsl(243, 20%, 15%);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.25rem;
	border-radius: 50%;
	aspect-ratio: 1 / 1;
	width: 100%;
	cursor: pointer;
	transition: all 0.15s ease-in;
}

.romaji-button.touched {
	background: hsl(182, 30%, 80%);
	transform: scale(1.25);
}

.romaji-button.ignored {
	background: hsl(182, 10%, 24%);
}

#footer {
	padding: 0.5rem;
	color: hsl(243, 20%, 50%);
	font-size: 0.7rem;
}

.green {
	color: hsl(150, 50%, 50%);
}
