@font-face {
	font-family: "Hack Nerd Font";
	src: url('../public/fonts/HackNerdFontPropo-Regular.ttf') format('truetype');
}

:root {
	background: transparent;
	--rosewater: #f5e0dc;
	--flamingo: #f2cdcd;
	--pink: #f5c2e7;
	--mauve: #cba6f7;
	--red: #f38ba8;
	--maroon: #eba0ac;
	--peach: #fab387;
	--yellow: #f9e2af;
	--green: #a6e3a1;
	--teal: #94e2d5;
	--sky: #89dceb;
	--sapphire: #74c7ec;
	--blue: #89b4fa;
	--lavender: #b4befe;
	--text: #cdd6f4;
	--subtext1: #bac2de;
	--subtext0: #a6adc8;
	--overlay2: #9399b2;
	--overlay1: #7f849c;
	--overlay0: #6c7086;
	--surface2: #585b70;
	--surface1: #45475a;
	--surface0: #313244;
	--base: #1e1e2e;
	--mantle: #181825;
	--crust: #11111b;

	--latte-rosewater: #dc8a78;
	--latte-flamingo: #dd7878;
	--latte-pink: #ea76cb;
	--latte-mauve: #8839ef;
	--latte-red: #d20f39;
	--latte-maroon: #e64553;
	--latte-peach: #fe640b;
	--latte-yellow: #df8e1d;
	--latte-green: #40a02b;
	--latte-teal: #179299;
	--latte-sky: #04a5e5;
	--latte-sapphire: #209fb5;
	--latte-blue: #1e66f5;
	--latte-lavender: #7287fd;
	--latte-text: #4c4f69;
	--latte-subtext1: #5c5f77;
	--latte-subtext0: #6c6f85;
	--latte-overlay2: #7c7f93;
	--latte-overlay1: #8c8fa1;
	--latte-overlay0: #9ca0b0;
	--latte-surface2: #acb0be;
	--latte-surface1: #bcc0cc;
	--latte-surface0: #ccd0da;
	--latte-base: #eff1f5;
	--latte-mantle: #e6e9ef;
	--latte-crust: #dce0e8;
}

.nerd-icon {
	font-family: "Hack Nerd Font";
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: inherit;
}

html,
body {
	font-family: sans-serif;
	background: var(--base);
	color: var(--text);
}

.no-select {
	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	touch-action: manipulation;
}

#root {
	background: var(--base);
	color: var(--text);

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	height: 100svh;

	/* border: 4px solid lightblue; */
}

/* Just a placeholder for making a responsive desing later. */
@media (orientation: portrait) {
	#root {
		width: 100svw;
	}
}

@media (orientation: landscape) {
	#root {
		width: 50svh;
		margin: 0 auto;
	}
}

#header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	height: 4rem;
	padding: 0 1rem;

	font-family: "Hack Nerd Font";

	background: var(--mantle);
	border-bottom: 1px solid var(--surface0);

	/* border: 1px solid red; */
}

#header h3 {
	font-size: 1rem;
	color: var(--blue);

	/* border: 1px solid blue; */
}

#menu,
#theme-sel {
	aspect-ratio: 1/1;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.6rem;
	color: var(--surface2);
	cursor: pointer;

	/* border: 1px solid green; */
}

#top-container {
	position: relative;
	padding: 0.5rem;
	width: 100%;

	/* border: 1px solid green; */
}

#term {
	background: var(--crust);
	color: var(--overlay1);
	border: 1px solid var(--surface0);
	width: 100%;
	min-height: calc(1rem + 5lh);
	padding: 0.5rem;
	font-family: "Hack", monospace;
	font-size: 0.7rem;
}

#option-buttons {
	/* border: 1px solid lightblue; */
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, auto);
	gap: 1rem;
	width: 60%;
	margin-bottom: 1rem;
}

.opt {
	background: var(--mantle);
	color: var(--blue);
	width: 100%;
	aspect-ratio: 1/1;
	font-size: 3rem;
	border-radius: 6px;
	border: 1px solid var(--surface0);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.blink {
	animation: blink-animation 1s steps(1, start) infinite;
}

@keyframes blink-animation {
	0% {
		visibility: visible;
	}

	50% {
		visibility: hidden;
	}

	100% {
		visibility: visible;
	}
}

#actions {
	width: 100%;
	height: 90%;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	/* border: 1px solid orange; */
}

#start-button {
	background: var(--mantle);
	border: 1px solid var(--surface1);
	color: var(--yellow);
	font-family: "Hack", monospace;
	font-size: 1.5rem;
	width: 60%;
	text-align: center;
	padding: 0.75rem;
	border-radius: 8px;
	cursor: pointer;
}

#top-info {
	/* border: 1px solid orange; */

	background: var(--crust);
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0.25rem;
}

#tip {
	padding: 0.5rem;
	font-size: 0.8rem;
	text-align: center;
	color: var(--overlay1);
}

#mode {}

#progress {
	/* border: 2px solid orange; */
	display: flex;
	flex-direction: row;
	align-items: baseline;
}

.info-highlighted {
	color: var(--blue);
}

#bar-container {
	width: 100%;
	/* border: 1px solid red; */
	padding: 0px 0.5rem;
}

#bar {
	background: linear-gradient(to right,
			var(--maroon),
			var(--yellow),
			var(--green),
			var(--blue));
	width: 100%;
	height: 0.4rem;
	border-radius: 0.2rem;
	/* margin-left: 0.5rem; */
	/* position: relative; */
	/* bottom: 0.15rem; */
	overflow: hidden;
	display: flex;
	justify-content: right;
}

#inner {
	height: 100%;
	background: var(--surface1);
}

.info {
	font-size: 0.7rem;
	margin-bottom: 0.2rem;
	color: var(--overlay1);
}

#center-pane {
	position: relative;
	width: 100%;
	height: calc(100svh - 6rem);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	/* border: 1px solid var(--peach); */
}

#kana {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16rem;
	/* TODO: serif fonts look great in japanese!
	* Add an option for the user to select the font.
	* Also, load fonts that support that (just in case).
	* BTW, in japanese we describe the fonts as "gothic" or "mincho".*/
	/* font-family: serif; */
	font-family: sans-serif;
	color: var(--blue);
	cursor: pointer;

	/* border: 2px solid blue; */
}

#separator {
	width: 30%;
	height: 0.2rem;
	background: var(--lavender);
	opacity: 0.7;
	border-radius: 0.1rem;
}

#romaji-bar {
	/* border: 2px solid yellow; */

	width: 90%;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 1rem;
	padding: 2rem 1rem;
}

.romaji-button {
	/* border: 1px solid green; */

	background: var(--sapphire);
	color: var(--base);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.25rem;
	border-radius: 50%;
	aspect-ratio: 1 / 1;
	width: 100%;
	cursor: pointer;
	transition: all 0.15s ease-in;
}

.romaji-button.touched {
	background: var(--teal);
	transform: scale(1.25);
}

.romaji-button.ignored {
	opacity: 0.2;
}

#footer {
	width: 100%;
	height: 2rem;
	display: flex;
	justify-content: center;
	padding: 0.5rem;
	color: var(--overlay1);
	font-size: 0.7rem;

	/* border: 1px solid yellow; */
}

.green {
	color: var(--teal);
}

#theme-switch:checked~#root {
	background: var(--latte-base);
	color: var(--latte-text);
	border: none;
}

#theme-switch:checked~* #header {
	background: var(--latte-sapphire);
	border-bottom: 1px solid var(--latte-text);
}

#theme-switch:checked~* h3 {
	background: inherit !important;
	color: var(--latte-base) !important;
}

#theme-switch:checked~* #menu,
#theme-switch:checked~* #theme-sel {
	background: inherit !important;
	color: var(--latte-base) !important;
}

#theme-switch:checked~* #term {
	background: var(--latte-text) !important;
	/* border: 1px solid var(--latte-surface0); */
	color: var(--latte-base);
}

#theme-switch:checked~* #top-info {
	background: var(--latte-crust) !important;
}

#theme-switch:checked~* .opt,
#theme-switch:checked~* #start-button {
	background: var(--latte-crust) !important;
	border-color: var(--latte-surface0);
	color: var(--latte-pink);
}

#theme-switch:checked~* #start-button {
	color: var(--latte-sapphire);
	box-shadow: 0px 8px 8px var(--latte-surface2);
}

#theme-switch:checked~* #kana {
	color: var(--latte-pink);
}

#theme-switch:checked~* .green {
	color: var(--latte-sapphire);
}

#theme-switch:checked~* #separator {
	background: var(--latte-blue);
}

#theme-switch:checked~* .romaji-button {
	background: var(--latte-sapphire);
	color: var(--latte-base);
}

#theme-switch:checked~* .info {
	color: var(--latte-subtext0);
}

#theme-switch:checked~* .info-highlighted {
	color: var(--latte-sapphire);
}

#theme-switch:checked~* #inner {
	background: var(--latte-surface1);
}

#theme-switch:checked~* #bar {
	background: linear-gradient(to right,
			var(--latte-sapphire),
			var(--latte-pink));
}

#theme-switch:checked~* #tip {
	color: var(--latte-overlay0);
}

#dev-info {
	position: fixed;
	width: 100svw;
	height: 100svh;
	background-color: transparent;
	padding: 4rem 0.5rem;
	z-index: 9999;
	font-family: "Hack Nerd Font";
	font-size: 0.9rem;
	color: var(--peach);
	pointer-events: none;
}

#theme-switch:checked~* #dev-info {
	color: var(--latte-peach);
}

#toggle-dev-info {
	position: absolute;
	left: 0rem;
	bottom: 8rem;
	width: 4rem;
	height: 3rem;
	display: flex;
	justify-content: right;
	align-items: center;
	padding: 0 1rem;
	background: rgba(0, 0, 0, 0.3);
	font-family: "Hack Nerd Font";
	font-size: 1.5rem;
	color: var(--mauve);
	cursor: pointer;

	/* border: 1px solid var(--mauve); */
}

#theme-switch:checked~* #toggle-dev-info {
	color: var(--latte-overlay0);
}

.hidden {
	display: none;
}
